<style>
    .container {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 14px;
        font-weight: 400;
        color: #262b33;
        background-color: #f3f3f3;
        padding: 10px 0;
        width: 100%;
    }

    .content {
        background-color: #fff;
        border-radius: 8px;
        max-width: 600px;
        width: 100%;
        margin: auto;
    }

    table {
        margin: 32px auto 48px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0 10px;
    }


    p {
        font-weight: 400;
        margin-bottom: 16px;
        line-height: 1.3;
        padding: 0 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .code {
        font-size: 45px;
        text-align: center;
        letter-spacing: 10px;
        margin-bottom: revert;
    }

    .medias {
        max-width: 360px;
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }

    .medias a {
        color: #777;
        margin: 0 10px;
    }

    .footer-links {
        text-align: center;
        max-width: 450px;
        margin: auto;
        color: #999999;
        margin-top: 20px;
    }

    .footer-links .separator {
        margin: 0 10px;
    }

    .footer-links a {
        color: #999999;
        font-size: 11px;
    }

    .wasili-slogan {
        font-size: 15px;
        color: #999999;
        text-align: center;
        width: 80%;
        max-width: 300px;
        margin: 20px auto;
    }

    .address {
        font-size: 13px;
        color: #999999;
        text-align: center;
        margin-top: 20px;
    }

    .app_header {
        display: block;
        text-align: center;
    }

    img.image_header {
        width: 100%;
        object-fit: contain;
        max-height: 115px;
        border-top-right-radius: 10px;
    }
</style>

<div class="container">
    <table width="580">
        <tbody>
            <tr>
                <td align="center">
                    <h1>Welcome to our Boutique</h1>
                </td>
            </tr>
            <tr>
                <td><img src="https://i.ibb.co/SQSwHKw/undraw-Blogging-re-kl0d.png" alt="undraw-Blogging-re-kl0d"
                        border="0"></a></td>
            </tr>
            <tr>
                <td>
                    <p class="hi">Hi Boutique.</p>
                    <p class="happy">We are happy to meet you !</p>
                    <p class="purpose">
                        This article has been created successfuly <br> Name :  Price : .
                    </p>
                    <p class="btn-warp">In order to confirm your account, click the link
                        below</p>
                    <p class="btn"><a href="#" target="_blank">Confirm email</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>